body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-left: 100px;
    margin-right: 100px;
}

.img-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

img {
    width: 100%;
    height: auto;
}

.architectural {
    margin-bottom: 10px;
}

.img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
}

.img-text p {
    text-align: center;
    width: 90%;
}

h2 {
    margin-top: 40px;
}

#cropme {
    overflow: hidden;
    position: relative;
    top: -40px;
}

#cropme img {
    position: relative;
    top: 40px;
}

#cropme2 {
    position: relative;
    top: -40px;
}

#dollies .img-text img {
    width: 480px;
    height: auto;
}